/**
 * Google Fonts Demo
 **/
 body{
 font-family: 'Shadows Into Light', cursive;
 }
/* Add in the Google Fonts of your choice */

.thought1{
    font-size: 20px;
}

.thought2{
    background-color: red;
    font-family: fantasy;
    line-height: 40px;
}